.linha
{
	width: 960px;
	margin: 0 auto;
	padding: 5px 0px;
	overflow: auto;
}

.coluna{
	padding: 0px 10px;
	float: left;
}

/*Grid*/
.col1{
	width: 60px;
}

.col2{
	width: 140px;
}

.col3{
	width: 220px;
}

.col4{
	width: 300px;
}

.col5{
	width: 380px;
}

.col6{
	width: 460px;
}

.col7{
	width: 540px;
}

.col8{
	width: 620px;
}

.col9{
	width: 700px;
}

.col10{
	width: 780px;
}

.col11{
	width: 860px
}

.col12{
	width: 940px;
}

body{
	font-family: 'Roboto', sans-serif;
	color: #333;
}

h2{
	text-align: center;
	padding-right: 60px;
	text-transform: capitalize;
	font-weight: 500px;
}

ul.inline li{
	display: inline;
	margin-right: 15px;
}

img{
	max-width: 100%;
	max-height: auto;
}
.sem-marcador{
	list-style: none;
}

.header{
	background: #EDF0F5;
}

.logo{
	color: #315e8a;
	font-weight: 400px;
	letter-spacing: 3px;
}

.menu1{
	padding-top: 15px;
	float: right;
	font-weight: 400px;
	text-transform: capitalize;
}

.menu1 li a{
	color: #315e8a;
	padding: 5px 5px;
	border-radius: 10px;
}

.menu1 li a:hover{
	background: #315e8a;
	color: black;
}

a{
	text-decoration: none;
}

.section{
	background: #F0FFF0;
	height: 450px;
}

.footer{
	color: white;
	text-align: center;
	background: #315e8a;
	height: 86px;
}

.footer p{
	padding-top: 20px;
}